.circleRating {
    background-color: var(--black);
    border-radius: 50%;
    padding: 2px;

    .CircularProgressBar-text {
        font-size: 34px;
        font-weight: 700;
        fill: var(--blac);
    }

    .CircularProgressBar-trail {
        stroke: transparent;
    }

}